%hr
.footer.row
  .col-md-6.col-lg-6
    %p
      = fa_icon "copyright"
      %span 版權說明
    %p
      陸續發表之電子書以及簡報，可於
      =link_to "Leanpub", "https://leanpub.com/u/raviwu"
      平台或本站自由電子書網頁上購得或免費下載。
    %p
      LW Studio 網站內容由吳莉瑋製作，以
      =link_to "CC BY授權條款", "http://creativecommons.org/licenses/by/3.0/deed.zh_TW"
      釋出，如果派得上任何用場，只要尊重姓名表示權，歡迎取用。
  .col-md-6.col-lg-6
    %p
      = fa_icon "support"
      %span 支持 LW Studio
    %p
      LW Studio 的網站內容需要花上許多時間製作與準備，這些工作都需要經費，除了透過 Leanpub 購買電子書外，您還能透過 Bitcoin 直接支持 LW Studio：
      %code 1E5RntcxdqguuAd6Pfpj96NWNgUJbRnYVe
%hr
.footer.row
  .col-lg-12
    %p.pull-right
      Ravi L.W. Wu
      = fa_icon "copyright"
      2013-2016
