- if current_user && current_user == @page.user
  = link_to page_path(@page), class: "pull-right btn btn-default", method: :delete, data: { confirm: "Are you sure to delete this page?" } do
    = fa_icon "trash"
