- if current_user && current_user == @post.user
  = link_to post_path(@post), class: "pull-right btn btn-default", method: :delete, data: { confirm: "Are you sure to delete this post?" } do
    = fa_icon "trash"
