- provide :title, "Blog"
= render "add_new_post_button"
= render @posts, is_index: true
.row
  .col-sm-12= paginate @posts, theme: 'twitter-bootstrap-3', pagination_class: "pagination-sm"
  = render "disqus_comment_count"
