/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require rouge
 */

$brand-primary: #df912f;
$brand-success: #d1edce;
$brand-info:    #c1dbe3;
$brand-warning: #f6feaa;
$brand-danger:  #ffe6d8;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,300);
@import "font-awesome";

/*!
* Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
* Copyright 2013-2016 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
*/

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: #373737;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-align: right;
  text-indent: 20px;
  padding-right: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #e9e9e9;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: $brand-primary;
  // background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 200px;
  font-size: 18px;
  line-height: 200px;
  display: block;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

a.nav-bar-icon{
  font-size: 18px;
  display: inline !important;
  padding: auto;
  text-decoration: inline;
  color: #e9e9e9;

  :hover {
    color: #fff !important;
  }
}

.navbar-header {
  padding-left: 30px;
  .navbar-toggle {
    background: image-url("logo_line.png") no-repeat scroll 0 0 transparent;
    color: rgba(255,255,255,0);
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 100%;
    a {
      color: rgba(255,255,255,0);
      display: block;
    }
  }
}

.sidebar-nav > .sidebar-brand a {
  color: rgba(255,255,255,0);
}

.sidebar-nav > .sidebar-brand a:hover {
  color: rgba(255,255,255,0);
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 200px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* footer */
.footer {
  color: rgba(0,0,0,0.4);
  font-size: 12px;

  span {
    font-weight: bold;
    color: rgba(0,0,0,0.7);
  }
}

.main-content {
  margin-top: 20px;
}

/* Post */

.post-title {

  color: rgba(0,0,0,0.8);
}

.title {
  font-size: 1.5em;
  color: rgba(0,0,0,0.8);
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: $brand-primary;
  }
}

.meta {
  font-size: 1em;
  color: rgba(0,0,0,0.3);
}

.content {
  font-size: 1em;
  color: rgba(0,0,0,0.7);
}
