- if current_user && current_user == ebook.user
  = link_to ebook_path(ebook), class: "pull-right btn btn-default", method: :delete, data: { confirm: "Are you sure to delete this ebook?" } do
    = fa_icon "trash"
